body {
    font-family: 'Taviraj Light', serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: url(/img/bg_big.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: device-width;
    font-family: 'Maitree', serif;
    font-size: 5vw;
    color: #C2C757;
    padding-top: 2%;
    min-height: 15em;
}

header #pagename {
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10%
}

header #pagename #headline {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    font-weight: 900;
    grid-gap: 20px;
    width: 100%;
    white-space: nowrap;
}

header #pagename #explanation {
    font-family: 'Frank Ruhl Libre', serif;
    color: #808363;
    font-size: 2vw;
    margin-top: 1%;
}

header #pagename #headline:before,
header #pagename #headline:after {
    content: '';
    border-top: 1px solid;
}

footer {
    background: #373E40;
    font-family: 'Mukta', sans-serif;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}

#content {
    min-height: 100vh;
}

#about {
    margin: auto;
    max-width: 30vw;
    min-height: 200px;
}

#about .avatar {
    background-image: url(/img/mesize.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about p {
    overflow: hidden;
    text-align: justify;
    font-family: 'Taviraj Light', serif;
    font-style: italic;
    font-size: 25px;
    color: #4F7B69;
}

#about hr {
    margin-top: 60px;
}

#boxes {
    background-color: aquamarine;
}

.seperator {
    width: 50%;
    margin-bottom: 6%;
    color: #838665;
}

#showcase {
    margin: auto;
}

.headline {
    text-align: center;
    margin-top: 10%;
    font-family: 'Maitree', serif;
    font-weight: 900;
    font-size: 4vw;
    color: #4F7B69;
    padding-top: 2vw;
}

#showcase .box {
    margin: auto;
    /*margin-left: 25%;*/
    width: 50vw;
    margin-bottom: 10%;
}

#showcase-container {
    display: grid;
    grid-gap: 12em 2em;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
}

#showcase-container .content-box {
    background-color: #f1f1f1;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    object-fit: contain;
}

#showcase-container .content-box img {
    width: 100%;
    /* height: 100%;*/
    object-fit: cover;
}

#showcase-container .content-box p {
    font-family: 'Frank Ruhl Libre', serif;
    color: #808363;
    font-size: 18px;
}

#imp_Link {
    color: white;
}

#impress {
    margin-left: 20%;
}

.contact {
    margin: auto;
}

i {
    font-size: 60px;
    padding: 30px;
    color: #373E40;
}

.icon_box {
    margin: auto;
    text-align: center;
    margin-bottom: 6%;
}

@media screen and (max-width: 1280px) {
    .headline {
        padding-top: 5em;
    }
}

@media screen and (max-width: 720px) {
    #showcase .box {
        /*margin-left:20%;*/
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 560px) {
    header #pagename #headline {
        font-size: 5vw;
    }
    header #pagename #explanation {
        font-size: 3vw;
    }
    #about p {
        font-size: 4vw;
    }
    .headline {
        font-size: 7vw;
    }
    #showcase .box {
        /*margin-left:30%;*/
    }
    #showcase-container {
        display: grid;
        grid-gap: 14em 2em;
        grid-template-columns: 2fr;
    }
}